footer {
    margin-top: 340rem;;
    width: 100%;
    background: black;
    position: static;
    display: block;
    height: 3rem;
    padding: 0.3rem 0;
}



@media (min-width: 70rem){
    footer {
        margin-top: 180rem;
    }
}