footer {
    margin-top: 140rem;
    width: 100%;
    background: black;
    position: static;
    display: block;
    height: 3rem;
    padding: 0.3rem 0;
}

@media (min-height: 20rem){
    footer {
        margin-top: 190rem;
    }
}

@media (min-height: 25rem){
    footer {
        margin-top: 185rem;
    }
}

@media (min-height: 30rem){
    footer {
        margin-top: 180rem;
    }
}

@media (min-height: 35rem){
    footer {
        margin-top: 175rem;
    }
}

@media (min-height: 40rem){
    footer {
        margin-top: 170rem;
    }
}

@media (min-height: 46rem){
    footer {
        margin-top: 165rem;
    }
}