html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    box-sizing: inherit;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

header {
    box-sizing: inherit;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    max-height: 10.75rem;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {

}

.gliner-logo {
    margin: 0.5rem 1rem;
    padding: 0;
    width: 50%;
}

.get-price-box{
 background: url("images/get-price-botx-image.jpg");
    width: 60%;
    height: 7rem;
    margin: 0;
    padding: 0;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price-box {
    margin: 0;
    width: 98%;
    height: 85%;
    border: solid 0.2rem orange;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid orange;
    width: 25%;
    height: 35%;
    margin-right: 2rem;
    font-weight: bold;
}

.price-box-text {
    margin-left: 3rem;
    color: orange;
}

.price-box-text h1{
    font-size: 2.5rem;
    color: black;
}

.price-box-text h2{
    margin-left: 7rem;
font-size: 1.7rem;
}

.price-button a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.price-button a:hover,
.price-button a:active{
    color: white;
}

.nav {
    background: orange;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    /*margin-right: auto;*/
    /*margin-left: 1rem;*/
    width: 100%;
    height: auto;
    /*position: fixed;*/
    /*margin-top: 10rem;*/
    position: sticky;
    top:0;
    opacity: 0.90;
    z-index: 999;

}

@media (min-width: 55rem) {
    nav {
        /*margin: 0 auto;*/
        height: auto;
    }
}

nav ul {
    width: 65vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4vw;
    padding: 0;
    /*margin-right: 2rem;*/
}

/*@media () {*/

/*}*/

nav ul li {
    display: flex;
    margin: 0 0.5rem;
    padding-bottom: 0.1rem;
}

@media (min-width: 56.5rem) {
    nav ul li {
        /*margin: 0 2rem;*/
    }
}

nav ul li a {

    text-decoration: none;
    color: black;
    font-size: 100%;
    font-weight: bold;
    border-bottom: 0.2rem solid orange;
}

nav ul li a:hover,
nav ul li a:active {
    border-bottom: 0.2rem solid white;

    color: white;
}

.nav-item__get-free-estimate {
    white-space: nowrap;


}
.nav-item__get-free-estimate a{

    border-color: #107aff;
    color: black;
}

.nav-item__get-free-estimate a:hover,
.nav-item__get-free-estimate a:active{
    border-color: white;
    background: orange;
    color: white;
}


.sticky {
    position: fixed;
    top: 0;
}

footer {
    margin-top: 140rem;
    width: 100%;
    background: black;
    position: static;
    display: block;
    height: 3rem;
    padding: 0.3rem 0;
}

@media (min-height: 20rem){
    footer {
        margin-top: 175rem;
    }
}

@media (min-height: 25rem){
    footer {
        margin-top: 170rem;
    }
}

@media (min-height: 30rem){
    footer {
        margin-top: 165rem;
    }
}

@media (min-height: 35rem){
    footer {
        margin-top: 160rem;
    }
}

@media (min-height: 40rem){
    footer {
        margin-top: 155rem;
    }
}

@media (min-height: 46rem){
    footer {
        margin-top: 150rem;
    }
}


.copy {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}