:root {
    --footer-margin-top: 30rem;
}


footer {
    margin-top: 140rem;
    width: 100%;
    background: black;
    position: static;
    display: block;
    height: 3rem;
    padding: 0.3rem 0;
}

@media (min-height: 20rem){
    footer {
        margin-top: calc(var(--footer-margin-top)+ 25rem);
    }
}

@media (min-height: 25rem){
    footer {
        margin-top: calc(var(--footer-margin-top)+ 20rem);
    }
}

@media (min-height: 30rem){
    footer {
        margin-top: calc(var(--footer-margin-top)+ 15rem);
    }
}

@media (min-height: 35rem){
    footer {
        margin-top: calc(var(--footer-margin-top)+ 10rem);
    }
}

@media (min-height: 40rem){
    footer {
        margin-top: calc(var(--footer-margin-top)+ 5rem);
    }
}

@media (min-height: 46rem){
    footer {
        margin-top: var(--footer-margin-top);
    }
}