@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --border-radius: 0.25rem;

}

body {
    grid-row-gap: 1rem;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}

@media (min-width: 50rem) {
    main {
        flex-direction: row;
        width: 100%;
        margin-bottom: 3rem;
    }
}


.information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 50rem) {

    .information {
        width: 50%;

    }
}

.information-image {
    display: none;

}

@media (min-width: 50rem) {
    .information-image {
        display: block;
        width: 90%;
        height: auto;

    }
}

.information-title_description {
    margin-top: 6rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    color: #004765;
}

@media (min-width: 50rem) {
    main {

    }
}

.information-title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}


.information-paragraph {
    font-size: 1.5rem;
}


/*//////FORMULARZ///////*/
.form {
    font-family: 'Poppins', sans-serif;
    color: #03a9f4;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 0rem;
    /*margin-bottom: 3rem;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);

}

@media (min-width: 50rem) {
    .form {
        margin-top: 6rem;
width: 50%;
    }
}

#form-background {
    border-radius: var(--border-radius);
    background: url("../images/shared/get-price-now.jpg");
    width: 90%;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

form {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: var(--border-radius);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

form input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    height: 2.3rem;
    font-size: 1rem;
}

form label {
    margin: 0.3rem 0.3rem 0.6rem;
}

#message {
    height: 8rem;
}

.form-button {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
    margin: 2rem 0;
    border: 1px solid orange;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.75rem;
    background: orange;
    color: inherit;
    cursor: pointer;
}



